.s-advant {
	margin-top: 0;

	&.is-fill {
		padding-top: 0;
	}

	&.on-catalog {
		margin-top: 80px;
		margin-bottom: 0;
		padding-bottom: 0;

		@media (max-width: $tablet) {
			margin-top: 64px;
		}

		& .s-advant__container {
			padding-left: var(--container-padding);
			padding-right: var(--container-padding);
		}

		& .s-advant__list {
			flex-wrap: wrap;
			justify-content: space-between;
			margin: -24px -16px;

			@media (max-width: $laptop) {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 24px 16px;
				margin: 0;
			}

			@media (max-width: $tablet) {
				grid-template-columns: 1fr 1fr;
			}

			@media (max-width: 500px) {
				grid-template-columns: 1fr;
			}

			& > * {
				max-width: 280px;
				margin: 24px 16px;

				@media (max-width: $laptop) {
					min-width: auto;
					margin: 0;
				}

				@media (max-width: $tablet) {
					max-width: none;
				}

				@media (max-width: $container-width + px) {

					&:first-child {
						padding-left: 0;
					}

					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
}

.s-advant__container {

	@media (max-width: $container-width + px) {
		padding: 0;
	}
}

.s-advant__header {

	@media (max-width: $container-width + px) {
		padding: 0 var(--container-padding);
	}
}

.s-advant__body {

}

.s-advant__list {
	width: 100%;
	display: flex;
	counter-reset: advantCards;
	list-style-type: none;
	margin: 0 -16px;

	& > * {
		min-width: 270px;
		margin: 0 16px;

		@media (max-width: $container-width + px) {

			&:first-child {
				padding-left: var(--container-padding);
			}

			&:last-child {
				padding-right: var(--container-padding);
			}
		}
	}
}

.s-advant__text {

	&::before {
		content: '0'counter(advantCards);
		counter-increment: advantCards;
		display: block;
		font-size: 36px;
		font-weight: 900;
		font-style: italic;
		background: linear-gradient(180deg, #1DC1F5 0%, #2183F6 100%), #1C2022;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 0 4px;
		margin: 0 -4px;
		margin-bottom: 8px;
	}
}