.top-sales {
	margin: 0;

	&.is-fill {
		padding-top: 200px;
	}
}

.top-sales__container {

	@media (max-width: $container-width + px) {
		padding: 0;
	}
}

.top-sales__header {

	@media (max-width: $container-width + px) {
		padding: 0 var(--container-padding);
	}
}

.top-sales__body {
	display: flex;
    padding: 42px 0;
    margin: -42px -16px;

	@media (max-width: $tablet) {
		margin: -42px -8px;
	}

	@media (max-width: $mobile-l) {
		margin: -42px -4px;
	}

	& > * {
		min-width: 280px;
		margin: 0 16px;

		@media (max-width: $container-width + px) {

			&:first-child {
				padding-left: var(--container-padding);
			}

			&:last-child {
				padding-right: var(--container-padding);
			}
		}

		@media (max-width: $tablet) {
			margin: 0 8px;
		}

		@media (max-width: $mobile-l) {
			margin: 0 4px;
		}
	}
}

.top-sales__block {

}