// Основной шаблон кнопки
.btn {
    height: var(--btn-height, 54px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size, 16px);
    font-weight: 700;
	color: var(--color, inherit);
	text-align: center;
	text-transform: uppercase;
    padding: 0 16px;
    border-radius: $radius-s;
    transition: $tr;
    white-space: nowrap;
    user-select: none;

	&.is-accent {
		background: $accent;
		color: $light;
	}

	&.is-grad {
		--color: #{$light};
		background: linear-gradient(180deg, #1DC1F5 0%, #2183F6 100%);
	}

	&.has-icon {

		&::before {
			content: '';
			display: inline-block;
			min-width: var(--icon-size, 24px);
			width: var(--icon-size, 24px);
			height: var(--icon-size, 24px);
			-webkit-mask: center/contain no-repeat var(--icon);
			mask: center/contain no-repeat var(--icon);
			vertical-align: middle;
			background: var(--icon-color, #000);
			transition: $tr;
		}
	}

	&.is-search {
		--icon: url('@img/sprite.svg#search');
		--icon-size: 24px;
		--icon-color: #{$text-primary};
	}
}

@mixin link {
	--color: #{$text-primary};

	color: var(--color);
	transition: $tr;

	&:active {
		--color: #{$accent};
	}

	@media (any-hover: hover) {

		&:hover {
			--color: #{$accent};
		}

		&:active {
			--color: #{$accent};
			opacity: .8;
		}
	}
}

.link {
	@include link;

	&.is-bold {
		font-weight: 700;
	}

	&.has-icon {

		&::after {
			content: '';
			display: inline-block;
			@include strictSize(24px);
			@include mask( center/contain no-repeat url('@img/sprite.svg#arrow-triangle') );
			background: var(--color);
			vertical-align: middle;
			margin-left: 8px;
			transition: $tr;
		}
	}
}

// Бургер
.burger {
	display: none;
    position: relative;
    min-width: 24px;
    width: 24px;
    height: 24px;
    transition: $tr;

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        height: 2px;
        display: block;
        background: var(--color, #{$text-primary});
		border-radius: 10px;
        transition: $tr;

        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - 6px));
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%);
        }

        &:nth-child(3) {
            transform: translate(-50%, calc(-50% + 6px));
        }
    }

    &.is-active {

        & span {

            &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:nth-child(2) {
                width: 0;
            }

            &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}