.m-search {

	& .modal__wrap {
		align-items: initial !important;
		justify-content: initial !important;
		padding: 0;
	}

	& .modal__window {
		max-width: none;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 0;
		transform: translate(0, -100%);
		padding: 24px !important;
	}

	& .modal-close {
		position: relative;
		top: auto;
		right: auto;
		margin-left: auto;
	}
}

.m-search__form {
	margin-top: 16px;
}