.m-search {

	& .modal__wrap {
		align-items: initial;
		justify-content: initial;
		padding: 0;
	}

	& .modal__window {
		height: 100%;
		display: flex;
		flex-direction: column;
		transform: translate(0, -100%);
	}

	& .modal-close {
		position: relative;
		top: auto;
		right: auto;
		margin-left: auto;
	}
}

.m-search__form {
	margin-top: 16px;
}